.checkbox {
    padding-left: 25px;

    display: block;
    position: relative;

    font-size: 16px;

    color: $dark;
    cursor: pointer;
    &__box {
        width: 0;
        height: 0;

        position: absolute;

        opacity: 0;
        cursor: pointer;
    }
    &__sign {
        width: 16px;
        height: 16px;

        position: absolute;
        top: 0;
        left: 0;

        border: 1px solid $dark;
        &:after {
            content: "";

            display: none;
            width: 5px;
            height: 10px;

            position: absolute;
            left: 4px;
            transform: rotate(45deg);

            border: solid $dark;
            border-width: 0 3px 3px 0;
        }
    }
    &__box:checked ~ &__sign:after {
        display: block;
    }
    @media ( max-width: 400px ) {
        width: 100%;
        margin-bottom: 20px;
    }
}
.contact {
    &-block {
        padding: 50px 100px;

        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .block-info__text {
        color: $dark;
    }
    &-form {
        max-width: 600px;

        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        &__fields {
            display: flex;
            flex-wrap: wrap;
        }
        &__input {
            padding: 20px 0 20px 20px;
            margin-bottom: 20px;

            flex-grow: 1;

            border: 1px solid $dark;
            border-radius: $radius;

            color: $dark;
            outline: none;
            &:nth-child(odd) {
                margin-right: 40px;
            }
            &:last-child {
                margin-right: 0;
                padding-bottom: 120px;
            }
        }
        &__button {
            border: 0;
            @include bold;
        }
    }
    @media ( max-width: 767px ) {
        &-block {
            padding: 50px 0;
        }
        &-form {
            &__input {
                width: 100%;
                &:nth-child(odd) {
                    margin-right: 0;
                }
            }
        }
    }
}
