.customers {
    background-image:
    linear-gradient(to right, rgba(29, 233, 182, 0.95), rgba(130, 177, 255, 0.95)),
    url('../img/customers/background.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    &-block {
        padding: 40px 0;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-info {
        min-width: 45%;
        margin-right: 50px;
        &__title {
            margin-bottom: 20px;

            font-size: 45px;
            @include bold;
            color: $white;
        }
        &__text {
            margin-bottom: 80px;

            @include bold;
            line-height: 28px;
            color: $white;
        }
        .button {
            @include bold;
        }
    }
    &-reviews {
        display: flex;
        flex-direction: column;
        align-items: center;
        &__list {
            margin: 30px 0;

            padding-left: 0;
            list-style-type: none;
        }
        &__item {
            margin-bottom: 70px;

            display: flex;
            justify-content: space-between;
            align-items: center;
            &:last-child {
                margin-bottom: 0;
            }
        }
        &__image {
            margin-right: 50px;
        }
        &__review {
            padding: 30px;

            box-shadow: 0 4px 16px -8px $dark-grey;
            border-radius: $radius;
            background-color: $white;
        }
        &__title {
            font-size: 18px;
            @include bold;
            color: $dark;
        }
        &__text {
            font-size: 15px;
            @include reg-italic;
            color: $dark-grey;
        }
        &__arrow {
            padding-left: 110px;
        }
    }
    @media ( max-width: 1200px ) {
        &-block {
            flex-direction: column;
        }
        &-info {
            margin-bottom: 60px;
            &__title {
                font-size: 40px;
            }
            &__text {
                margin-bottom: 60px;
            }
            .button {
                font-size: 14px;
            }
        }
        &-reviews {
            &__item {
                margin-bottom: 40px;
            }
        }
    }
    @media ( max-width: 992px ) {
        &-info {
            margin-bottom: 40px;
            &__title {
                font-size: 32px;
            }
            &__text {
                font-size: 16px;
            }
            .button {
                padding: 20px 20px;
            }
        }
        &-reviews {
            &__item {
                margin-bottom: 0;
                &:last-child {
                    display: none;
                }
            }
            &__title {
                font-size: 16px;
            }
            &__text {
                font-size: 14px;
            }
        }
    }
    @media ( max-width: 767px ) {
        &-info {
            &__text {
                margin-bottom: 40px;
            }
        }
        &-reviews {
            &__image {
                display: none;
            }
            &__arrow {
                padding-left: 0;
            }
        }
    }
}
