.description {
    &-block {
        padding: 100px 0;

        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .block-info {
        margin-bottom: 100px;
    }
    &-list {
        padding-left: 0;
        list-style-type: none;

        display: flex;
        justify-content: space-between;
        align-items: center;
        &__item {
            margin-right: 100px;

            display: flex;
            flex-direction: column;
            align-items: center;
            &:last-child {
                margin-right: 0;
            }
        }
        &__image {
            margin-bottom: 40px;
        }
        &__title {
            margin-bottom: 20px;
            font-size: 20px;
            @include bold;
        }
        &__text {
            max-width: 555px;

            font-size: 15px;
            color: $dark-grey;
            text-align: center;
        }
    }
    &-button {
        margin-top: 80px;
        .button {
            @include bold;
        }
    }
    @media ( max-width: 1200px ) {
        &-list {
            &__title {
                font-size: 18px;
            }
            &__text {
                font-size: 14px;
            }
        }
        .button {
            font-size: 14px;
        }
    }
    @media ( max-width: 992px ) {
        &-list {
            &__text {
                font-size: 12px;
            }
        }
        .button {
            padding: 20px 20px;
        }
    }
    @media ( max-width: 767px ) {
        &-block {
            padding: 60px 0;
        }
        .block-info {
            margin-bottom: 60px;
        }
        &-list {
            flex-direction: column;
            &__item {
                margin-right: 0;
                margin-bottom: 40px;

                flex-direction: column;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        .button {
            margin-top: 0;
        }
    }
}
