.footer {
    background-color: $dark;
    .link {
        color: $white;
    }
    &-block {
        padding: 100px 0;
    }
    &-navbar {
        margin-bottom: 50px;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__list {
            padding-left: 0;

            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__item {
            padding: 0 30px 0 10px;
            color: $light-grey;
            .link {
                color: $light-grey;
            }
            &:first-child {
                &::marker {
                    content: '';
                }
                padding-left: 0;
            }
            &:last-child {
                padding-right: 0;
            }
        }
    }
    @media ( max-width: 767px ) {
        &-block {
            padding: 50px 0;
        }
        &-navbar {
            display: none;
        }
        &-links {
            flex-direction: column;
            &__item {
                font-size: 14px;
            }
        }
    }
    @media ( max-width: 325px ) {
        &-links {
            &__list {
                padding-left: 0;
                list-style-type: none;

                flex-direction: column;
            }
            &__item {
                padding: 0;
                margin-bottom: 10px;
            }
        }
    }
}
