.hero {
    background-image: 
    linear-gradient(to right, rgba(29, 233, 182, 0.8), rgba(130, 177, 255, 0.8)),
    url('../img/hero/background.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    &-block {
        padding: 135px 0 185px 0;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-info {
        color: $white;
        &__title {
            margin-bottom: 30px;

            font-size: 55px;
            @include bold;
            text-transform: uppercase;
        }
        &__text {
            margin-bottom: 40px;
            line-height: 30px;
        }
        .button {
            margin-right: 30px;
            &:last-child {
                margin-right: 0;
                @include bold;
            }
        }
    }
    &-presentation {
        position: relative;
        &:hover {
            &::after {
                content: '';

                width: 100%;
                height: calc(100% - 4px);

                position:absolute;
                left: 0;
                top: 0;
                z-index: 1;

                border-radius: $radius;
                background-color: #fff;
                opacity: 0.8;
            }
        }
        &__button {
            padding: 25px;

            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;

            border-radius: $radius;
            background-color: $dark;
        }
    }
    @media ( max-width: 1200px ) {
        &-block {
            flex-direction: column;
        }
        &-info {
            margin-bottom: 100px;
            &__title {
                font-size: 45px;
            }
            .button {
                font-size: 14px;
            }
        }
        &-presentation {
            &__video {
                width: 100%;
            }
        }
    }
    @media ( max-width: 992px ) {
        &-info {
            &__title {
                font-size: 35px;
            }
            .button {
                padding: 20px 20px;
            }
        }
    }
    @media ( max-width: 767px ) {
        &-block {
            padding-top: 80px;
            padding-bottom: 100px;
        }
    }
}
