.logo {
    &__link {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__icon {
        margin-right: 10px;
    }
    &__text {
        line-height: 16px;
        span {
            @include bold;
        }
    }
}
.menu {
    display: flex;

    list-style-type: none;
    padding-left: 0;
    &__item {
        margin-right: 50px;
        @include bold;
        &:last-child {
            margin-right: 0;
        }
    }
}
.hamburger-icon {
    display: none;
    @media ( max-width: 1200px ) {
        display: inline;
        font-size: 24px;
    }
    @media ( max-width: 767px ) {
        font-size: 32px;
    }
}
.navbar {
    background-image: 
    linear-gradient(to right, rgba(29, 233, 182, 0.8), rgba(130, 177, 255, 0.8)),
    url('../img/hero/background.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    .link {
        color: $white;
        &:hover {
            color: $dark;
        }
    }
    &-block {
        padding: 50px 0;

        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__sign-up {
        .link {
            padding: 6px 20px;

            border: 1px solid $white;
            border-radius: $radius;
            &:hover {
                border-color: $dark;
            }
        }
    }
    @media ( max-width: 1200px ) {
        .menu {
            display: none;
        }
        &__sign-up {
            display: none;
        }
    }
}
