.services {
    &-block {
        padding: 100px 0;

        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &-list {
        width: 800px;

        padding-left: 0;
        list-style-type: none;

        display: flex;
        flex-direction: column;
        align-items: center;
        &__item {
            width: 100%;
            margin-bottom: 20px;

            box-shadow: 0 4px 16px -8px $light-grey;
            border-radius: $radius;
            &:last-child {
                margin-bottom: 0;
            }
        }
        &__button {
            padding: 20px 25px;

            display: flex;
            justify-content: space-between;
            align-items: center;

            color: $dark;
        }
        &__name {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__icon {
            width: 50px;
            img {
                object-fit: cover;
            }
        }
        &__title {
            @include bold;
        }
    }
    @media ( max-width: 992px ) {
        &-list {
            width: 100%;
        }
    }
    @media ( max-width: 767px ) {
        &-block {
            padding: 60px 0;
        }
    }
}
