.statistic {
    &-list {
        padding-left: 0;
        list-style-type: none;

        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        &__item {
            padding: 45px 0;

            display: flex;
            justify-content: center;
            align-items: center;

            @include bold;
            &:nth-child(1) {
                flex-grow: 1;
                background-color: $blue;
            }
            &:nth-child(2) {
                flex-grow: 1;
                background-color: $dark-blue;
            }
            &:nth-child(3) {
                flex-grow: 1;
                background-color: $purple;
            }
            &:nth-child(4) {
                flex-grow: 1;
                background-color: $pink;
            }
        }
        &__image {
            width: 60px;
            height: 60px;

            padding: 20px;
            margin-right: 23px;

            box-sizing: border-box;
            border-radius: 50%;
            background-color: $white;
        }
        &__title {
            color: $white;
        }
        @media ( max-width: 992px ) {
            &__item {
                padding: 25px 0;
            }
            &__title {
                font-size: 14px;
            }
        }
        @media ( max-width: 767px ) {
            &__item {
                min-width: 50%;
                padding: 15px 0;
            }
        }
    }
}
