.social-networks {
    padding-left: 0;
    list-style-type: none;

    display: flex;
    justify-content: center;
    align-items: center;
    &__item {
        margin-right: 30px;
        &:last-child {
            margin-right: 0;
        }
    }
}
.team {
    &-block {
        padding: 100px 0 90px 0;

        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .block-info {
        margin-bottom: 100px;
    }
    &-info {
        max-width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        &-images {
            margin-bottom: 60px;

            padding-left: 0;
            list-style-type: none;

            display: flex;
            justify-content: center;
            align-items: center;
            &__item {
                &_current {
                    margin: 0 50px;

                    border: 20px solid $white;
                    border-radius: 50%;

                    box-shadow: 0 0 16px -8px $dark-grey;
                }
                &_hidden {
                    opacity: 0.2;
                }
            }
        }
        &__title {
            margin-bottom: 20px;

            font-size: 18px;
            @include bold;
            color: $dark;
        }
        &__text {
            max-width: 645px;
            margin-bottom: 30px;

            font-size: 15px;
            text-align: center;
            color: $grey;
        }
    }
    @media ( max-width: 1200px ) {
        &-info {
            &__title {
                font-size: 16px;
            }
            &__text {
                font-size: 14px;
            }
        }
    }
    @media ( max-width: 992px ) {
        &-block {
            padding: 80px 0px 60px 0px;
        }
        .block-info {
            margin-bottom: 60px;
        }
        &-info {
            &__text {
                font-size: 13px;
            }
        }
    }
    @media ( max-width: 767px ) {
        &-block {
            padding: 60px 0px 40px 0px;
        }
        &-info {
            &-images {
                &__item {
                    &_current {
                        margin: 0;
                    }
                    &_hidden {
                        position: relative;
                        z-index: -1;
                        &:first-child {
                            left: 50px;
                        }
                        &:last-child {
                            right: 50px;
                        }
                    }
                }
            }
        }
    }
}
