@font-face {
    font-family: 'Raleway Regular';
    src: url('../fonts/Raleway/Raleway-400.eot');
    src: url('../fonts/Raleway/Raleway-400.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway/Raleway-400.woff2') format('woff2'),
        url('../fonts/Raleway/Raleway-400.woff') format('woff'),
        url('../fonts/Raleway/Raleway-400.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Raleway Regular Italic';
    src: url('../fonts/Raleway/Raleway-400-Italic.eot');
    src: url('../fonts/Raleway/Raleway-400-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway/Raleway-400-Italic.woff2') format('woff2'),
        url('../fonts/Raleway/Raleway-400-Italic.woff') format('woff'),
        url('../fonts/Raleway/Raleway-400-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Raleway Bold';
    src: url('../fonts/Raleway/Raleway-700.eot');
    src: url('../fonts/Raleway/Raleway-700.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway/Raleway-700.woff2') format('woff2'),
        url('../fonts/Raleway/Raleway-700.woff') format('woff'),
        url('../fonts/Raleway/Raleway-700.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@mixin reg {
    font-family: 'Raleway Regular', sans-serif;
    font-weight: 400;
}
@mixin reg-italic {
    font-family: 'Raleway Regular Italic', sans-serif;
    font-weight: 400;
    font-style: italic;
}
@mixin bold {
    font-family: 'Raleway Bold', sans-serif;
    font-weight: 700;
}
