$radius: 5px;

body {
    margin: 0;
    @include reg;
}
.container {
    max-width: 1170px;

    margin: 0 auto;
    padding: 0 15px;
    @media ( max-width: 1200px ) {
        max-width: 970px;
    }
    @media ( max-width: 992px ) {
        max-width: 750px;
    }
    @media ( max-width: 767px ) {
        max-width: none;
    }
}
.block-info {
    margin-bottom: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
    &__title {
        margin-bottom: 15px;

        font-size: 45px;
        @include bold;

        color: $dark;
    }
    &__subtitle {
        margin-bottom: 20px;

        font-size: 25px;
        @include bold;

        color: $light-grey;
    }
    &__text {
        max-width: 555px;

        font-size: 15px;
        @include reg;

        color: $light-grey;
        text-align: center;
    }
    @media ( max-width: 1200px ) {
        &__title {
            font-size: 40px;
        }
        &__subtitle {
            font-size: 20px;
        }
        &__text {
            font-size: 14px;
        }
    }
    @media ( max-width: 992px ) {
        &__title {
            font-size: 35px;
        }
        &__subtitle {
            font-size: 18px;
        }
        &__text {
            font-size: 13px;
        }
    }
}
.link {
    text-decoration: none;
    cursor: pointer;
}
.button {
    padding: 20px 40px;

    display: inline-block;

    font-size: 15px;
    @include reg;

    text-decoration: none;
    cursor: pointer;
    &_white {
        border-radius: $radius;
        background-color: $white;
        color: $dark;
    }
    &_green {
        border-radius: $radius;
        background-color: $green;
        color: $white;
    }
    &_dark {
        border-radius: $radius;
        background-color: $dark;
        color: $white;
    }
    &:hover {
        box-shadow: 0 0 16px -4px $dark-grey;
    }
}
